@charset "utf-8";
/* wlo:Cflower */
body{margin:0 auto;	padding:0; font-family:"微软雅黑","宋体", Times, serif; font-size:14px; color:#fff; background:#1c1c1e; font-weight:normal; position:relative; min-width:1200px; max-width:1920px;}
*{margin:0; padding:0;*zoom:1;}
ul,li,ol{ list-style:none outside;}
img{border:none; display:inline-block;}
a{outline:none; text-decoration:none; color:#d0f1f1;}
a:hover{text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());}
.clearfloat:after{clear: both;content:""; display: block; height: 0; visibility: hidden;}
::-ms-clear{ display:none;}
::-ms-reveal{ display:none;}
*html{ background-image:url(about:blank); background-attachment:fixed; /*解决ie6下 层的闪动*/}
.chromeframe{background:#fff9d4;color:#000;padding:10px 0;text-align:center;border-bottom:1px solid #000; font-size:14px; margin:0 auto; min-width:1200px; max-width:1920px;}
.chromeframe a{ color:red;}
#wrap.wrapFilter{ -moz-filter:blur(5px); -ms-filter:blur(5px); -o-filter:blur(5px); -webkit-filter:blur(5px); filter:blur(5px);}
.w1190{position: relative;overflow: hidden;width: 1200px;margin: 0 auto;}
#wrap{ margin:0 auto; min-width:1200px; max-width:1920px; position:relative; z-index:2; background:url(../images/wrap.jpg) no-repeat center 0;}


/*
#footer{ background:#000206; padding:30px 0; margin:0 auto; color:#5b5b5b; font-family:"宋体"; z-index:2;}
.copyright{ vertical-align:top;margin:0 auto; padding-left:0; width:983px; /*background:url(../images/f_hr.png) no-repeat 127px 3px;*/}
/*.copyright a.akong{ display:block; cursor:pointer; width:126px; overflow:hidden; float:left;}
.copyright img{	float:left;*+display:inline;margin:3px 20px 0 0;}
.copyright p{*+display:inline;font-size:12px;line-height:17px;margin-left:22px;float:left;width:690px; vertical-align:top;}
.copyright a{text-decoration:none; display:inline;color:#5b5b5b;}
.copyright a:hover{text-decoration:underline;}*/


.masklayer{ display:block; position:fixed; z-index:99; left:0; top:0; width:1920px; min-width:1190px; margin:0 auto; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50);}
#maskLayer{ display:block; position:fixed; z-index:99; left:0; top:0; width:1920px; min-width:1190px; margin:0 auto; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50);}
#alertInfo{ display:none; background:; left:50%; top:-100%; position:fixed; z-index:200; max-width:900px; min-width:460px;}
#alertInfo .close{ position:absolute; right:-65px; top:0px; overflow:hidden; font-size:0; text-indent:-999999px; display:block; width:60px; height:60px; cursor:pointer; background:url(../images/close.jpg) no-repeat 0 0; z-index:220; transition:transform ease-in 0.2s;}
#alertInfo .close:hover{-webkit-transform:rotateZ(180deg); -moz-transform:rotateZ(180deg); -ms-transform:rotateZ(180deg); -o-transform:rotateZ(180deg); transform:rotateZ(180deg);}
#alertInfo h3{ background:#222626; color:#ffd737; text-align:center; font-size:24px; zoom:0; font-weight:normal; margin-bottom:15px; line-height:1; padding:22px 0; border-bottom:1px solid #666;}
.logInfo{ width:460px; background: #151717;}
.logInfo ul{ margin:0 auto; width:304px; *padding-bottom:15px;}
.logInfo ul li{ float:left; display:inline; width:100%; margin-bottom:15px; line-height:32px; font-size:24px;}
.logInfo ul li label,.logInfo ul li input,.selBox,.logInfo ul li img{ float:left; display:inline; line-height:32px; font-size:16px; color:#6b6b6b; font-weight:normal;}
.logInfo ul li input,.selBox{ padding:0 5px; text-indent:1em; width:226px; background:#fff; border:none; border:1px solid #d9d9d9; border-radius:5px; height:30px; line-height:30px; color:#000;}
.logInfo ul li label{ height:32px; width:66px;}
.logInfo h4{width: 100%; text-align: center; color: #fff; font-size:22px ;line-height: 50px;}
.selBox{ position:relative;}
.selBox i,.selBox em,.selBox em b{ position:absolute; display:block; right:0; top:0; cursor:pointer; font-style:normal;}
.selBox i{ padding:0 5px; width:226px; z-index:6; height:30px; line-height:30px;}
.selBox em{ z-index:5; width:31px; height:100%; border-left:1px solid #d9d9d9; overflow:hidden; background:url(../images/sel.png) no-repeat center center;}
.selBox em b{ display:none;}
.selBox .selC{ display:none; background:#e5e5e5; z-index:1; position:absolute; top:31px; width:100%; left:0;}
.selBox .selC a{ display:block; font-size:14px; padding:0 5px; color:#2a1a11; line-height:32px;}
.selBox .selC a:hover{ text-decoration:none;}
.selBox .selC a.selectedV,.selBox .selC a:hover{ background:#6c6c6d; color:#fff;}
.logInfo ul li.yzM{ position:relative;}
.logInfo ul li #verifyImg{ background:#fff; position:absolute; right:0; top:0; width:80px; height:32px;}
.logInfo ul li.tsli{ line-height:1; color:red; font-size:16px; margin-bottom:0; *margin-bottom:-15px;}
.infoBtn{ margin:0 auto; text-align:center; width:100%; zoom:0;}
.infoBtn a{ display:inline-block; vertical-align:top; text-align:center; width:120px; color:#000; background:#ffd737; font-size:24px; font-weight:normal; height:48px; line-height:48px; margin:0 10px;}
.infoBtn a:hover{ text-decoration:none;}
.tsInfo .infoBtn{ *background:#f15b00;}
.logInfo .infoBtn a,.tsInfo .infoBtn a,.payMethodInfo .infoBtn a{ display:block; margin:0 auto; width:100%; zoom:0;}
.tsInfo .dd a{ display:inline-block; width:50%;}
.tsInfo .dd a.c{ background:#999;}
.tsInfo{ max-width:560px; padding:0 0 32px 0; font-size:20px; line-height:1.5; color:#6b6b6b; text-align:center;}
.tsInfo .p{ padding:12px 36px; margin:0 auto;}
.tsInfo .p a,.tsInfo .p .sColor{ color:#d61515;}
.tsInfo .p input{ display:inline-block; *display:inline; *zoom:1; line-height:30px; height:30px; border:1px solid #6b6b6b; vertical-align:top; font-family:"微软雅黑"; padding:0 8px; width:200px;}
.tsInfo .infoBtn{ margin-top:24px; margin-bottom:-32px; width:100%;}
.userInfo{ font-size:20px; padding-bottom:20px; color:#6b6b6b; width:700px;}
.userInfo table td,.userInfo table th{ text-align:center; font-weight:normal; padding:5px 0; font-size:16px;}
.userInfo table thead th{ background:#ddd;}
.userInfo table thead td{ line-height:0;}
.payMethodInfo{ width:460px;}
.payMethodInfo .p a{ display:block; overflow:hidden; width:271px; height:55px; margin:0 auto 20px auto; font-size:0; text-indent:-999999px;}
.payMethodInfo .p a.wx{ background:url(../images/wx.png) no-repeat 0 0;}
.payMethodInfo .p a.zfb{ background:url(../images/zfb.png) no-repeat 0 0;}
.payMethodInfo .p a.dq{ background:url(../images/dq.png) no-repeat 0 0;}
.wechatPayInfo{ width:500px;}
.aliPayInfo{ width:600px;}
.payBox{ padding:16px 0 36px 0; overflow:hidden;}
.payBox .pNote{ padding:0 32px;}
.payBox h5{ text-align:center; font-size:16px; font-weight:bold;}
.payBox img{ width:230px; height:230px; margin:18px auto 36px auto;}
.payBox iframe{ display:block; width:600px; height:290px; margin:24px 0 0 -16px;}




