@charset "utf-8";
/* CSS Document wlo:Cflower */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border:0 none; margin:0; padding:0;}
input, textarea { border-radius:0; outline:0 none; resize:none; /*去掉iOS下input的默认内阴影*/}
body{ margin:0 auto; min-width:320px; background:#1c1e23;}
.fl{float: left;}
.fr{float: right;}
a{ text-decoration:none; }
li{ list-style:none; }
img{ vertical-align:top; }
input,textarea,select{ outline:none; }
.clearFix:after{ content:''; display:block; clear:both; }
body{ color:#fff; font-family: "微软雅黑"; }
a{ color:#fff; }
:root{font-size: 100px;}


.main{ background-size:cover; overflow: hidden; position: absolute; top: 0 ;left: 0; display: none;}
.main-1{display: block;background:url(../images/bg.jpg) no-repeat ; background-size:cover; overflow: hidden; position: absolute; top: 0 ;left: 0;z-index: 2;} 
.bar{text-align: center; font-size: 0.3rem;margin-top: 6.6rem; font-weight: bold;}
.videos{position: fixed;left: 0 ;top: 0; z-index:1 ;display: none;}
#myVideo{display: none;}
.main-2{display: none;background:url(../images/bg1.jpg) no-repeat ; background-size:cover; overflow: hidden; position: absolute; top: 0 ;left: 0; z-index: 3;}
.main-2 a{display: block; width: 5.22rem; height: 1.36rem;margin: 0 auto;}
#main-btn1{background: url(../images/main-btn1.png) no-repeat; background-size:cover ; margin-top: 3.8rem;}
#main-btn2{background: url(../images/main-btn2.png) no-repeat; background-size:cover ; margin-top: 0.2rem;}
#main-btn3{background: url(../images/main-btn3.png) no-repeat; background-size:cover ; margin-top: 0.2rem;}
.main-3{background:url(../images/bg2.jpg) no-repeat ; background-size:cover; }
.main-4{background:url(../images/bg3.jpg) no-repeat ; background-size:cover;}
.main-5{background:url(../images/bg4.jpg) no-repeat ; background-size:cover; }
.main-btn-res{display: block;width: 5.22rem; height: 1.37rem; background: url(../images/main-btn-res.png) no-repeat;background-size:cover ; margin: 0 auto;margin-top: 5.0rem;}
.main-5 div{ width: 6.6rem; margin: 0 auto;margin-top: 10.8rem;}
.main-5 div a{width: 3.18rem;height: 1.04rem; }
.main-5 div a.fl{background: url(../images/btn1.png) no-repeat; background-size:cover ;}
.main-5 div a.fr{background: url(../images/btn2.png) no-repeat; background-size:cover ;}

.main-6{background:rgba(0,0,0,0.8);}
.main-6 div{width:2.71rem; height: 2.7rem; background: url(../images/btn3.png) no-repeat;position: absolute; right: 20px; top: 20px;background-size:cover ;}
#star{width: 2.39rem; height: 0.72rem;display: block; background: url(../images/star.png) no-repeat; background-size:cover ;margin: 0 auto; margin-top: 1.0rem;}

/*弹窗使用.rule{width:7.0rem ;}
.rule h5{width: 7.0rem; height:0.8rem ; background: #cc9342; color:#fffaa6 ; text-align: center; line-height: 0.8rem; font-size: 0.38rem;} 
.rulebox{font-size:0.2rem ; line-height:0.38rem ; color:#FFF ; background:#bf7813 ; width:7.0rem ; padding:0.25rem  0.5rem;}*/






/*分享弹窗*/
.shareOpa {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
}
.shareWrap {
  position: fixed;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  z-index: 101;
  display: none;
}
.shareBox {
  padding-top: 0.3rem;
  font-size: 0.5rem;
  color: #a35935;
}
.shareImg {
  width: 3.92rem;
  height: 2.88rem;
  margin-left: 2.6rem;
}
.shareImg img {
  display: block;
  width: 100%;
}
.shareText {
  line-height: 0.6rem;
  padding: 0.3rem 0;
  text-align: center;
}
.know_btn {
  display: block;
  width: 2.1rem;
  height: 0.8rem;
  border: 1px solid #a35935;
  border-radius: 5px;
  text-align: center;
  line-height: 0.7rem;
  font-size: 0.4rem;
  color: #a35935;
  margin: 0 auto;
}