*{margin:0;padding:0;border:0}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0}
ul,ul li{list-style:none}a{font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;outline:medium none;text-decoration:none}
table{border-collapse:collapse}em{font-style:normal}
a{text-decoration:none}img{border:0}body{font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif;font-size:14px;color:#bfbfbf}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 100px white inset}
input:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 100px white inset}
input,button,select,textarea{outline:0;font-size:14px;font-family: "Microsoft Yahei";}
.regBox span{line-height:26px;float:left;width:80px}
.register{width:360px;margin:20px auto;overflow:hidden;height:auto;padding: 0 20px;}
.accountArea,.pwdArea,.yzimgArea,.messageArea,.nameArea,.numberArea,.nicknameArea{text-align:right;position:relative;margin:0 auto}
.input{width:250px;height:26px;background: #282828; line-height:36px\9;position:relative;margin:0 0 10px;border:solid 1px #4e4e4c;border-radius:3px;padding-left:10px}
.yabox{display:inline-block;position:absolute;top:1px;right:1px;width:80px;background:#fff;height:26px;z-index:1000000;text-align:center;border-radius:3px;line-height:38px;vertical-align:middle}
.yabox img{line-height:0;padding:0;height:26px;width:100%}
.botspan{display:inline-block;position:absolute;top:1px;right:1px;text-align:center;width:80px;height:24px;line-height:24px;background:#66bdff;border:1px solid #66bdff;color:#fff;font-size:12px;padding:0;border-radius:0 3px 3px 0;cursor:pointer;}
.botspan-gray {background: #ccc;border: 1px solid #ccc;cursor: auto;}
.abot{background:url(../images/btn11.png) 0 -100px no-repeat;width:310px;height:50px; text-indent:-9999em;line-height:42px;text-align:center;color:#fff;text-decoration:none;font-size:18px;display:block;letter-spacing:2px;margin:0 auto}
.abot:hover{background:url(../images/btn11.png) -310px -100px no-repeat;}
.agreement{font-size:14px;}.agreement a{color:#fcc467;}
.pline{text-align:left;margin-bottom:0px}.focus{border:solid 1px #4e4e4c; color: #fff;}
.error{border:solid 1px #f00;color:#f00}.iphone{text-align:center}
.iphone h2{margin-bottom:20px}.iphone p{text-align:left}
.iphone ul{margin-top:10px}.iphone li a{display:inline-block;width:190px;height:50px;background-color:#48a6ff;color:#fff;line-height:50px;border-radius:5px;margin:4px 0}
.iphone li a:hover{opacity:.8;filter:alpha(opacity=90);}
.email{text-align:center}.email p{text-align:left}
.email h2{margin-bottom:15px}.check{display:inline-block;width:190px;height:50px;background-color:#48a6ff;color:#fff;line-height:50px;border-radius:5px;margin:15px 0}
.check:hover{opacity:.8;filter:alpha(opacity=90)}.footer a{color:#48a6ff}.center-Box{height: 204px;overflow: hidden;}
@media only screen and (max-width:640px){.regBox span{display:block}
    .input{width:70%}}
    .hide {display: none;}
    