@charset "utf-8";
/* CSS Document wlo:Cflower */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border:0 none; margin:0; padding:0;}
input, textarea { border-radius:0; outline:0 none; resize:none; /*去掉iOS下input的默认内阴影*/}
body{ margin:0 auto; min-width:320px;}
.fl{float: left;}
.fr{float: right;}
a{ text-decoration:none; }
li{ list-style:none; }
img{ vertical-align:top; }
input,textarea,select{ outline:none; }
.clearFix:after{ content:''; display:block; clear:both; }
body{ color:#fff; font-family: "微软雅黑"; }
a{ color:#fff; }
:root{font-size: 100px;}



.section-1{width: 7.5rem; height: 13.34rem; background:url(../images/section-1.jpg) no-repeat; background-size:contain ;
overflow: hidden;}
.section-1 .dwplay{display: block;width: 1.47rem; height: 1.68rem; background: url(../images/play.png) no-repeat;
background-size: contain; margin-top: 9.0rem; margin-left: 3.1rem;}
.section-1 ul {font-size: 0.2rem;}
.section-1 ul li{width: 7.5rem; line-height:0.4rem;}
.section-1 ul li p{display: inline-block; float: left; padding:0 0.3rem;}
.section-1 ul li:nth-child(2){display: none;}



.section-2{width: 7.5rem; height: 12.58rem; background: url(../images/section-2.jpg) no-repeat;background-size:cover ;}
.wraper{width: 6.7rem; margin: 0 auto;}
.guize{height: 3.7rem; font-size: 0.24rem;}
.guize p{line-height: 1.15rem;}
.team-lg{width: 6.7rem;}
.team-lg li{float: left; width: 3.35rem; height: 1.86rem; }
.team-lg li:first-child{background: url(../images/el.png) no-repeat; background-size:contain ;}
.team-lg li:last-child{background: url(../images/ya.png) 1.3rem 0 no-repeat;background-size:contain ;}
.team-js{font-size: 0.14rem; line-height: 0.3rem;}
.team-js li {width:3.2rem;  float: left;}
.team-js li:last-child{margin-left: 0.3rem;}
.section-2 .zan{height:2.0rem; overflow: hidden; width: 6.7rem;}
.section-2 .zan p{width: 3.44rem; height: 0.77rem; background:#f50000; color: #fff; font-size: 0.3rem;
 line-height: 0.77rem; text-align: center;margin: 0 auto; margin-top: 0.55rem;}
.team-jl{width: 7.1rem;  height: 2.7rem; margin: 0 auto;}
.team-jl li {float: left; width: 1.73rem; height: 2.7rem; margin-left: 0.04rem;}
.team-jl li:nth-child(1){background: url(../images/baqiang.png) no-repeat;background-size:contain;}
.team-jl li:nth-child(2){background: url(../images/siqiang.png) no-repeat;background-size:contain;}
.team-jl li:nth-child(3){background: url(../images/juesai.png) no-repeat;background-size:contain;}
.team-jl li:nth-child(4){background: url(../images/guanj.png) no-repeat;background-size:contain;}
.team-jl li img{display: none;}
.team-jl .huode img{width: 1.38rem;    margin-left: 0.2rem;
    margin-top: 0.9rem; display: block;}

.section-3{width: 7.5rem; height: 13.34rem; background:url(../images/section-3.jpg) no-repeat; background-size:contain ;}
.sec-3-a{widows:7.5rem ; height: 3.4rem; overflow: hidden;}
.sec-3-a h5{ width:1.56rem; height: 0.41rem; background: url(../images/sashi.png) no-repeat; background-size:contain ;
margin: 0 auto; margin-top: 2.0rem;}
.sec-3-a ul{width: 7.5rem; height:0.95rem; }
.sec-3-a ul li{float: left; height: 0.95rem; width: 2.5rem; font-size:0.18rem ;text-align: center; line-height: 0.47rem; }
.sec-3-b{width: 7.5rem; height: 4.6rem; }
.sec-3-b ul{width: 2.5rem; height: 4.6rem; float: left; font-size: 0.18rem;}
.sec-3-b ul li p{width: 1.75rem; height: 0.34rem; line-height: 0.34rem; text-align: left; overflow: hidden;}
.sec-3-b ul li span{height: 0.34rem; text-align: center; float: right; display: inline-block; width: 0.3rem;}
.sec-3-b .b-1 li{margin-left: 0.51rem;margin-top: 0.22rem;}
.sec-3-b .b-1 li:nth-child(2){margin-top: 0.5rem;}
.sec-3-b .b-1 li:nth-child(3){margin-top: 0.48rem;}
.sec-3-b .b-1 li:nth-child(4){margin-top: 0.48rem;}
.sec-3-b .b-2 li{    margin-left: 0.43rem;
    margin-top: 0.8rem;}
.sec-3-b .b-2 li:nth-child(2){margin-top: 1.65rem;}
.sec-3-b .b-3 li{    margin-top: 1.94rem;
    margin-left: 0.36rem;}
.sec-3-c{width: 7.5rem; height: 5.0rem; overflow: hidden;}
.sec-3-c ul{float: left; width: 2.4rem; height: 1.5rem;    margin-top: 1.0rem;
    margin-left: 1.2rem; font-weight: bold;}
.sec-3-c ul li{width:2.4rem; height: 0.5rem; line-height: 0.5rem; font-size: 0.2rem;}
.sec-3-c ul:nth-child(3),.sec-3-c ul:nth-child(4){margin-top: 0.7rem;}
.foot{width: 7.5rem; height: 2.29rem; background: url(../images/foot.png) no-repeat;
background-size: contain ; position: relative; z-index: 3;}


.down{width: 0.92rem; height: 0.47rem; position: fixed; bottom:5%; left: 50%; margin-left: -0.46rem;
background: url(../images/down.png) no-repeat; background-size:contain ; z-index: 2;}


.tchdgz{width: 6.93rem; height: 6.24rem; background: url(../images/tanceng-bj.png) no-repeat; background-size:contain ;
position: fixed; top: -100%; left: 50%; margin-left: -3.465rem; z-index: 4;}
.tchdgz h2{width: 6.93rem; height: 1.0rem; text-align: center; line-height:1.0rem ; font-size: 0.3rem;} 
.tchdgz-wz{width: 6.0rem; height: 4.6rem; font-size: 0.14rem; line-height: 0.25rem;margin: 0 auto;}
.close-gz{ width: 6.93rem; text-align: center; font-size: 0.26rem; line-height:0.5rem ;}
.tanc-box{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.8); top: 0; left: 0; z-index: 4; display: none;}


.tanceng-a{width: 100%; height: 100%; background: rgba(0,0,0,0.7); position: fixed; left: 0; top: 0;} 
.tanceng-a .tanceng-box{ width: 6.0rem; height: 5.0rem; position: fixed; top: 20%; left: 50%; margin-left: -3.0rem;
background: url(../images/tanc.png) no-repeat; background-size:contain ; font-size: 0.3rem; overflow: hidden;}
 .tanceng-nei{width: 4.0rem; height: 2.0rem;margin: 0 auto; text-align: center; word-break: break-word;
 margin-top: 1.5rem;}
.tanceng-a .tc-close{font-size: 0.5rem; width: 100%; text-align: center; }
